In [213]:
# leer archivos data/IPH_robos_2015_2020_tecmty.xlsx, data/IPH_robos_2021_2024_tecmty_fechas_corregidas.xlsx, data/IPH_robos_ene-ago-2025_tecmty.xlsx y data/unidades economicas cuadrantes.xlsx y data/poblacion cuadrantes.xlsx
import pandas as pd

# Cargar los archivos
robos_2015_2020 = pd.read_excel("data/IPH_robos_2015_2020_tecmty.xlsx")
robos_2021_2024 = pd.read_excel("data/IPH_robos_2021_2024_tecmty_fechas_corregidas.xlsx")
robos_ene_ago_2025 = pd.read_excel("data/IPH_robos_ene-ago-2025_tecmty.xlsx")
poblacion_cuadrantes = pd.read_excel("data/poblacion cuadrantes.xlsx")

# Robos 2015-2020

In [214]:
robos_2015_2020.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
0,50848SP,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.622462,-106.099586,Diana,32
1,68587,2015-01-01,99,99,ROBO DE VEHICULO,SI,28.702297,-106.110216,Villa,17
2,68842X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.685211,-106.027960,Morelos,45
3,61105X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.617434,-106.094153,Zapata,68
4,77924,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.725298,-106.112998,Colón,13

In [215]:
# ver si en la columna fecha hay datos nulos
robos_2015_2020['FECHA'].isnull().sum()

np.int64(0)

In [216]:
# ver que tipos de datos son las columnas
robos_2015_2020.dtypes

FOLIO                object
FECHA        datetime64[ns]
HORA                  int64
MINUTO                int64
TIPO                 object
VIOLENCIA            object
LATITUD             float64
LONGITUD            float64
DISTRITO             object
CUADRANTE             int64
dtype: object

# Robos 2021-2024

In [217]:
robos_2021_2024.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,dia
0,3196367,2024-01-01,99,99,ROBO A CASA HABITACION,NO,28.719604,-106.142035,Colón,12,NaN
1,3196186,2024-01-01,99,99,ROBO DE VEHICULO,NO,28.717739,-106.089196,Colón,15,NaN
2,3196158,2024-01-01,99,99,ROBO A CASA HABITACION,NO,28.646452,-106.057703,Ángel,35,NaN
3,3195958,2024-01-01,99,99,ROBO A NEGOCIO,NO,28.621036,-106.030771,Zapata,77,NaN
4,3195921,2024-01-01,99,99,ROBO DE VEHICULO,NO,28.602171,-105.992235,Morelos,57,NaN

In [218]:
# ver si en la columna fecha hay datos nulos
robos_2021_2024['FECHA'].isnull().sum()

np.int64(0)

In [219]:
# ver que tipo de datos son las columnas
robos_2021_2024.dtypes

FOLIO                 int64
FECHA        datetime64[ns]
HORA                  int64
MINUTO                int64
TIPO                 object
VIOLENCIA            object
LATITUD             float64
LONGITUD            float64
DISTRITO             object
CUADRANTE             int64
dia                 float64
dtype: object

In [220]:
# ordenar las fechas de forma ascendente
robos_2021_2024 = robos_2021_2024.sort_values(by='FECHA').reset_index(drop=True)
robos_2021_2024.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,dia
0,1278678,2021-02-01,2,29,ROBO DE VEHICULO,NO,28.619408,-106.050057,Zapata,77,NaN
1,1278991,2021-02-01,13,34,ROBO A CASA HABITACION,NO,28.693545,-106.133809,Diana,28,NaN
2,1278949,2021-02-01,12,33,ROBO A NEGOCIO,NO,28.717592,-106.145238,Colón,12,NaN
3,1278846,2021-02-01,10,33,ROBO A NEGOCIO,SI,28.677986,-106.128340,Villa,19,NaN
4,1278655,2021-02-01,1,38,ROBO DE VEHICULO,NO,28.657951,-106.122712,Diana,29,NaN

In [221]:
# eliminar la columna día
robos_2021_2024 = robos_2021_2024.drop(columns=['dia'])
robos_2021_2024.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
0,1278678,2021-02-01,2,29,ROBO DE VEHICULO,NO,28.619408,-106.050057,Zapata,77
1,1278991,2021-02-01,13,34,ROBO A CASA HABITACION,NO,28.693545,-106.133809,Diana,28
2,1278949,2021-02-01,12,33,ROBO A NEGOCIO,NO,28.717592,-106.145238,Colón,12
3,1278846,2021-02-01,10,33,ROBO A NEGOCIO,SI,28.677986,-106.128340,Villa,19
4,1278655,2021-02-01,1,38,ROBO DE VEHICULO,NO,28.657951,-106.122712,Diana,29

# Robos 2025

In [222]:
robos_ene_ago_2025.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
0,759476,2025-01-01,5,11,ROBO A NEGOCIO,SI,28.600113,-106.061258,Zapata,76
1,759978,2025-01-01,5,25,ROBO A NEGOCIO,SI,28.609652,-106.065990,Zapata,75
2,760050,2025-01-01,6,31,ROBO DE VEHICULO,NO,28.639322,-106.039862,Morelos,51
3,760404,2025-01-01,11,50,ROBO A CASA HABITACION,NO,28.643275,-106.030795,Morelos,51
4,769412,2025-01-01,12,0,ROBO A NEGOCIO,NO,28.693501,-106.115590,Villa,17

In [223]:
# cambiar nombre de columna VOLENCIA a VIOLENCIA
robos_ene_ago_2025 = robos_ene_ago_2025.rename(columns={'VOLENCIA': 'VIOLENCIA'})
robos_ene_ago_2025.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
0,759476,2025-01-01,5,11,ROBO A NEGOCIO,SI,28.600113,-106.061258,Zapata,76
1,759978,2025-01-01,5,25,ROBO A NEGOCIO,SI,28.609652,-106.065990,Zapata,75
2,760050,2025-01-01,6,31,ROBO DE VEHICULO,NO,28.639322,-106.039862,Morelos,51
3,760404,2025-01-01,11,50,ROBO A CASA HABITACION,NO,28.643275,-106.030795,Morelos,51
4,769412,2025-01-01,12,0,ROBO A NEGOCIO,NO,28.693501,-106.115590,Villa,17

In [224]:
# ver si hay valores nulos en la columna FECHA
robos_ene_ago_2025['FECHA'].isnull().sum()

np.int64(0)

In [225]:
# ver que tipos de datos son las columnas
robos_ene_ago_2025.dtypes

FOLIO                 int64
FECHA        datetime64[ns]
HORA                  int64
MINUTO                int64
TIPO                 object
VIOLENCIA            object
LATITUD             float64
LONGITUD            float64
DISTRITO             object
CUADRANTE             int64
dtype: object

# dataframes unidos

In [226]:
# unir los tres dataframes de robos en uno solo, primero robos_2015_2020, luego robos_2021_2024 y al final robos_ene_ago_2025
robos_tot = pd.concat([robos_2015_2020, robos_2021_2024, robos_ene_ago_2025]).reset_index(drop=True)
robos_tot.tail()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
35106,1345602,2025-08-30,18,40,ROBO A NEGOCIO,SI,28.615299,-106.097890,Zapata,68
35107,1345968,2025-08-30,21,0,ROBO A NEGOCIO,NO,28.623672,-106.115850,Diana,32
35108,1346807,2025-08-31,1,58,ROBO DE VEHICULO,NO,28.649612,-106.001734,Morelos,52
35109,1347625,2025-08-31,10,1,ROBO DE VEHICULO,NO,28.607209,-106.083870,Zapata,74
35110,1348453,2025-08-31,17,51,ROBO A NEGOCIO,NO,28.641761,-106.001923,Morelos,52

In [227]:
robos_tot.shape

(35111, 10)

In [228]:
# ver cuantos cuadrantes unicos hay en el dataframe robos_tot
robos_tot['CUADRANTE'].nunique()

77

In [229]:
# crear columna DIA a partir de la columna FECHA
robos_tot['DIA'] = robos_tot['FECHA'].dt.day
robos_tot.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,DIA
0,50848SP,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.622462,-106.099586,Diana,32,1
1,68587,2015-01-01,99,99,ROBO DE VEHICULO,SI,28.702297,-106.110216,Villa,17,1
2,68842X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.685211,-106.027960,Morelos,45,1
3,61105X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.617434,-106.094153,Zapata,68,1
4,77924,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.725298,-106.112998,Colón,13,1

In [230]:
# crear columnas de MES
robos_tot['MES'] = robos_tot['FECHA'].dt.month

# crear columna de estacion de acuerdo al mes y al día, teniendo en cuenta que las estaciones empiezan en los siguientes días:
# Primavera: 21 de marzo y termina el 20 de junio
# Verano: 21 de junio y termina el 22 de septiembre
# Otoño: 23 de septiembre y termina el 20 de diciembre
# Invierno: 21 de diciembre y termina el 20 de marzo
def obtener_estacion(mes, dia):
    if mes == 3 and dia >= 21 or mes in [4, 5] or mes == 6 and dia <= 20:
        return 'Primavera'
    elif mes == 6 and dia >= 21 or mes in [7, 8] or mes == 9 and dia <= 22:
        return 'Verano'
    elif mes == 9 and dia >= 23 or mes in [10, 11] or mes == 12 and dia <= 20:
        return 'Otoño'
    else:
        return 'Invierno'
robos_tot['ESTACION'] = robos_tot.apply(lambda x: obtener_estacion(x['MES'], x['DIA']), axis=1)
robos_tot.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,DIA,MES,ESTACION
0,50848SP,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.622462,-106.099586,Diana,32,1,1,Invierno
1,68587,2015-01-01,99,99,ROBO DE VEHICULO,SI,28.702297,-106.110216,Villa,17,1,1,Invierno
2,68842X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.685211,-106.027960,Morelos,45,1,1,Invierno
3,61105X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.617434,-106.094153,Zapata,68,1,1,Invierno
4,77924,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.725298,-106.112998,Colón,13,1,1,Invierno

In [231]:
# crear columna de AÑO a partir de la columna FECHA
robos_tot['AÑO'] = robos_tot['FECHA'].dt.year
robos_tot.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,DIA,MES,ESTACION,AÑO
0,50848SP,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.622462,-106.099586,Diana,32,1,1,Invierno,2015
1,68587,2015-01-01,99,99,ROBO DE VEHICULO,SI,28.702297,-106.110216,Villa,17,1,1,Invierno,2015
2,68842X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.685211,-106.027960,Morelos,45,1,1,Invierno,2015
3,61105X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.617434,-106.094153,Zapata,68,1,1,Invierno,2015
4,77924,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.725298,-106.112998,Colón,13,1,1,Invierno,2015

In [232]:
robos_tot[robos_tot['FECHA'] == '2016-03-20']

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,DIA,MES,ESTACION,AÑO
4850,81499,2016-03-20,99,99,ROBO DE VEHICULO,SI,28.699494,-106.126114,Villa,16,20,3,Invierno,2016
4851,119917,2016-03-20,99,99,ROBO A NEGOCIO,SI,28.660428,-106.086792,Villa,25,20,3,Invierno,2016
4852,116993,2016-03-20,99,99,ROBO A CASA HABITACION,NO,28.663078,-105.978380,Morelos,47,20,3,Invierno,2016
4853,65078,2016-03-20,99,99,ROBO A CASA HABITACION,NO,28.598716,-106.013873,Morelos,56,20,3,Invierno,2016
4854,102557,2016-03-20,99,99,ROBO A CASA HABITACION,NO,28.752186,-106.130140,Colón,8,20,3,Invierno,2016
4855,80869,2016-03-20,99,99,ROBO A CASA HABITACION,NO,28.773529,-106.166469,Colón,3,20,3,Invierno,2016
4856,58064,2016-03-20,99,99,ROBO A NEGOCIO,NO,28.640231,-106.080823,Ángel,37,20,3,Invierno,2016
4857,120514,2016-03-20,99,99,ROBO A CASA HABITACION,NO,28.694495,-106.099549,Villa,20,20,3,Invierno,2016

In [233]:
# exportar robos_tot a un archivo excel llamado robos_tot_final.xlsx
# robos_tot.to_excel('robos_tot_final.xlsx', index=False)

# Crear tabla de cuadrantes para los robos a negocios

In [234]:
# crear tabla de 78 cuadrantes, cada fila que sea 1 cuadrante, desde el 1 hasta el 78
cuadrantes_df_negocios = pd.DataFrame({'CUADRANTE': range(1, 79)})
cuadrantes_df_negocios.head()

   CUADRANTE
0          1
1          2
2          3
3          4
4          5

In [235]:
poblacion_cuadrantes.head(10)

   cuadrante  poblacion
0          3      18838
1          4      20919
2          5        391
3          6      24485
4          7      31984
5          8      28901
6          9      25765
7         11      22683
8         12      13257
9         13      19409

In [236]:
# ver cuantos cuadrantes unicos hay en el dataframe poblacion_cuadrantes
poblacion_cuadrantes['cuadrante'].nunique()

75

In [237]:
# cambiar el nombre de la columna 'cuadrante' a 'CUADRANTE' para hacer merge despues, y también de la columna 'poblacion' a 'POBLACION'
poblacion_cuadrantes = poblacion_cuadrantes.rename(columns={'cuadrante': 'CUADRANTE', 'poblacion': 'POBLACION'})
poblacion_cuadrantes.head()

   CUADRANTE  POBLACION
0          3      18838
1          4      20919
2          5        391
3          6      24485
4          7      31984

In [238]:
# unir cuadrantes_df con poblacion_cuadrantes por la columna CUADRANTE
cuadrantes_df_negocios = pd.merge(cuadrantes_df_negocios, poblacion_cuadrantes, on='CUADRANTE', how='left')
cuadrantes_df_negocios.head()

   CUADRANTE  POBLACION
0          1        NaN
1          2        NaN
2          3    18838.0
3          4    20919.0
4          5      391.0

In [239]:
# en la columna POBLACION, llenar los valores nulos con 0, y quitar los decimales convirtiendo a entero
cuadrantes_df_negocios['POBLACION'] = cuadrantes_df_negocios['POBLACION'].fillna(0).astype(int)
cuadrantes_df_negocios.head()

   CUADRANTE  POBLACION
0          1          0
1          2          0
2          3      18838
3          4      20919
4          5        391

In [240]:
# crear columna ROBOS A NEGOCIOS MES 1 2015, ROBOS A NEGOCIOS MES 1 2016, ROBOS A NEGOCIOS MES 1 2017, ROBOS A NEGOCIOS MES 1 2018, ROBOS A NEGOCIOS MES 1 2019, ROBOS A NEGOCIOS MES 1 2020, ROBOS A NEGOCIOS MES 1 2021, ROBOS A NEGOCIOS MES 1 2022, ROBOS A NEGOCIOS MES 1 2023, ROBOS A NEGOCIOS MES 1 2024, ROBOS A NEGOCIOS MES 1 2025, PROMEDIO DE ROBOS A NEGOCIOS MES 1, ROBOS A NEGOCIOS MES 2 2015, ROBOS A NEGOCIOS MES 2 2016, ROBOS A NEGOCIOS MES 2 2017, ROBOS A NEGOCIOS MES 2 2018, ROBOS A NEGOCIOS MES 2 2019, ROBOS A NEGOCIOS MES 2 2020, ROBOS A NEGOCIOS MES 2 2021, ROBOS A NEGOCIOS MES 2 2022, ROBOS A NEGOCIOS MES 2 2023, ROBOS A NEGOCIOS MES 2 2024, ROBOS A NEGOCIOS MES 2 2025, PROMEDIO DE ROBOS A NEGOCIOS MES 2..., hasta ROBOS A NEGOCIOS MES 12 2025, PROMEDIO DE ROBOS A NEGOCIOS MES 12
for mes in range(1, 13):
    for año in range(2015, 2026):
        # crear columna robos a negocios por mes y año
        cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
    # crear columna promedio de robos a negocios por mes, CLACULANDO LA MEDIA DE ROBOS A NEGOCIOS POR MES
    cuadrantes_df_negocios[f'PROMEDIO DE ROBOS A NEGOCIOS MES {mes}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0] / 11)
# ver las primeras 13 columnas
cuadrantes_df_negocios.head(13)

/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'PROMEDIO DE ROBOS A NEGOCIOS MES {mes}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0] / 11)
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'PROMEDIO DE ROBOS A NEGOCIOS MES {mes}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0] / 11)
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'ROBOS A NEGOCIOS MES {mes} {año}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_45965/3654177672.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_negocios[f'PROMEDIO DE ROBOS A NEGOCIOS MES {mes}'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0] / 11)
/tmp/ipykernel_45965/3654177672.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`

,CUADRANTE,POBLACION,ROBOS A NEGOCIOS MES 1 2015,ROBOS A NEGOCIOS MES 1 2016,ROBOS A NEGOCIOS MES 1 2017,ROBOS A NEGOCIOS MES 1 2018,ROBOS A NEGOCIOS MES 1 2019,ROBOS A NEGOCIOS MES 1 2020,ROBOS A NEGOCIOS MES 1 2021,ROBOS A NEGOCIOS MES 1 2022,...,ROBOS A NEGOCIOS MES 12 2017,ROBOS A NEGOCIOS MES 12 2018,ROBOS A NEGOCIOS MES 12 2019,ROBOS A NEGOCIOS MES 12 2020,ROBOS A NEGOCIOS MES 12 2021,ROBOS A NEGOCIOS MES 12 2022,ROBOS A NEGOCIOS MES 12 2023,ROBOS A NEGOCIOS MES 12 2024,ROBOS A NEGOCIOS MES 12 2025,PROMEDIO DE ROBOS A NEGOCIOS MES 12
0,1,0,0,0,0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0.090909
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
2,3,18838,7,2,1,0,1,1,0,0,...,1,0,2,1,1,0,0,2,0,1.000000
3,4,20919,0,0,1,0,0,0,0,1,...,1,0,0,0,1,1,0,0,0,0.272727
4,5,391,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0.090909
5,6,24485,2,4,5,1,0,1,0,3,...,1,1,0,5,4,2,3,1,0,1.909091
6,7,31984,6,8,2,2,1,1,0,5,...,4,1,6,3,2,4,0,1,0,2.636364
7,8,28901,6,5,6,4,1,6,0,3,...,9,1,4,3,3,5,2,1,0,3.181818
8,9,25765,2,2,1,3,1,6,0,2,...,1,3,1,1,2,1,4,2,0,1.727273
9,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
10,11,22683,0,2,0,1,0,2,0,0,...,5,0,2,2,0,1,2,2,0,1.454545
11,12,13257,5,4,3,0,2,1,0,4,...,1,2,3,2,0,3,3,3,0,2.090909
12,13,19409,6,5,5,6,2,8,0,2,...,10,1,10,7,2,0,4,3,0,4.090909

In [241]:
# ver las primeras 13 columnas
cuadrantes_df_negocios.iloc[:, :13].head()

,CUADRANTE,POBLACION,ROBOS A NEGOCIOS MES 1 2015,ROBOS A NEGOCIOS MES 1 2016,ROBOS A NEGOCIOS MES 1 2017,ROBOS A NEGOCIOS MES 1 2018,ROBOS A NEGOCIOS MES 1 2019,ROBOS A NEGOCIOS MES 1 2020,ROBOS A NEGOCIOS MES 1 2021,ROBOS A NEGOCIOS MES 1 2022,ROBOS A NEGOCIOS MES 1 2023,ROBOS A NEGOCIOS MES 1 2024,ROBOS A NEGOCIOS MES 1 2025
0,1,0,0,0,0,1,0,1,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,0,0,0
2,3,18838,7,2,1,0,1,1,0,0,1,0,0
3,4,20919,0,0,1,0,0,0,0,1,0,0,0
4,5,391,0,0,0,0,0,0,0,0,0,0,0

In [242]:
# ver cuantos cuadrantes hay en el dataframe cuadrantes_df
cuadrantes_df_negocios['CUADRANTE'].nunique()

78

In [243]:
# eliminar todas las columnas menos las que dicen PROMEDIO DE ROBOS A NEGOCIOS MES 1, PROMEDIO DE ROBOS A NEGOCIOS MES 2, PROMEDIO DE ROBOS A NEGOCIOS MES 3, PROMEDIO DE ROBOS A NEGOCIOS MES 4, PROMEDIO DE ROBOS A NEGOCIOS MES 5, PROMEDIO DE ROBOS A NEGOCIOS MES 6, PROMEDIO DE ROBOS A NEGOCIOS MES 7, PROMEDIO DE ROBOS A NEGOCIOS MES 8, PROMEDIO DE ROBOS A NEGOCIOS MES 9, PROMEDIO DE ROBOS A NEGOCIOS MES 10, PROMEDIO DE ROBOS A NEGOCIOS MES 11, PROMEDIO DE ROBOS A NEGOCIOS MES 12
cols_to_keep = ['CUADRANTE'] + [col for col in cuadrantes_df_negocios.columns if 'PROMEDIO DE ROBOS A NEGOCIOS MES' in col]
cuadrantes_df_negocios = cuadrantes_df_negocios[cols_to_keep]
cuadrantes_df_negocios.head()

,CUADRANTE,PROMEDIO DE ROBOS A NEGOCIOS MES 1,PROMEDIO DE ROBOS A NEGOCIOS MES 2,PROMEDIO DE ROBOS A NEGOCIOS MES 3,PROMEDIO DE ROBOS A NEGOCIOS MES 4,PROMEDIO DE ROBOS A NEGOCIOS MES 5,PROMEDIO DE ROBOS A NEGOCIOS MES 6,PROMEDIO DE ROBOS A NEGOCIOS MES 7,PROMEDIO DE ROBOS A NEGOCIOS MES 8,PROMEDIO DE ROBOS A NEGOCIOS MES 9,PROMEDIO DE ROBOS A NEGOCIOS MES 10,PROMEDIO DE ROBOS A NEGOCIOS MES 11,PROMEDIO DE ROBOS A NEGOCIOS MES 12
0,1,0.181818,0.181818,0.090909,0.454545,0.000000,0.363636,0.090909,0.454545,0.000000,0.272727,0.000000,0.090909
1,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,1.181818,1.181818,1.000000,1.181818,0.727273,0.727273,1.090909,1.545455,1.545455,1.181818,1.090909,1.000000
3,4,0.181818,0.454545,0.636364,0.272727,0.363636,0.454545,0.818182,0.454545,0.090909,0.545455,0.545455,0.272727
4,5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.090909

In [244]:
# ver el renglon del cuadrante 55
cuadrantes_df_negocios.loc[cuadrantes_df_negocios['CUADRANTE'] == 55]

,CUADRANTE,PROMEDIO DE ROBOS A NEGOCIOS MES 1,PROMEDIO DE ROBOS A NEGOCIOS MES 2,PROMEDIO DE ROBOS A NEGOCIOS MES 3,PROMEDIO DE ROBOS A NEGOCIOS MES 4,PROMEDIO DE ROBOS A NEGOCIOS MES 5,PROMEDIO DE ROBOS A NEGOCIOS MES 6,PROMEDIO DE ROBOS A NEGOCIOS MES 7,PROMEDIO DE ROBOS A NEGOCIOS MES 8,PROMEDIO DE ROBOS A NEGOCIOS MES 9,PROMEDIO DE ROBOS A NEGOCIOS MES 10,PROMEDIO DE ROBOS A NEGOCIOS MES 11,PROMEDIO DE ROBOS A NEGOCIOS MES 12
54,55,4.727273,4.454545,5.0,4.545455,4.545455,3.818182,4.090909,4.181818,3.727273,4.545455,3.272727,3.909091

## Crear tabla de cuadrantes para los robos a casa habitación

In [245]:
# crear tabla de 78 cuadrantes, cada fila que sea 1 cuadrante, desde el 1 hasta el 78
cuadrantes_df_CaHa = pd.DataFrame({'CUADRANTE': range(1, 79)})
cuadrantes_df_CaHa.head()

   CUADRANTE
0          1
1          2
2          3
3          4
4          5

In [246]:
poblacion_cuadrantes.head(10)

   CUADRANTE  POBLACION
0          3      18838
1          4      20919
2          5        391
3          6      24485
4          7      31984
5          8      28901
6          9      25765
7         11      22683
8         12      13257
9         13      19409

In [247]:
# unir cuadrantes_df_CaHa con poblacion_cuadrantes por la columna CUADRANTE
cuadrantes_df_CaHa = pd.merge(cuadrantes_df_CaHa, poblacion_cuadrantes, on='CUADRANTE', how='left')
cuadrantes_df_CaHa.head()

   CUADRANTE  POBLACION
0          1        NaN
1          2        NaN
2          3    18838.0
3          4    20919.0
4          5      391.0

In [248]:
# en la columna POBLACION, llenar los valores nulos con 0, y quitar los decimales convirtiendo a entero
cuadrantes_df_CaHa['POBLACION'] = cuadrantes_df_CaHa['POBLACION'].fillna(0).astype(int)
cuadrantes_df_CaHa.head()

   CUADRANTE  POBLACION
0          1          0
1          2          0
2          3      18838
3          4      20919
4          5        391

In [249]:
# crear columna ROBOS A CASA HABITACION MES 1 2015, ROBOS A CASA HABITACION MES 1 2016, ROBOS A CASA HABITACION MES 1 2017, ROBOS A CASA HABITACION MES 1 2018, ROBOS A CASA HABITACION MES 1 2019, ROBOS A CASA HABITACION MES 1 2020, ROBOS A CASA HABITACION MES 1 2021, ROBOS A CASA HABITACION MES 1 2022, ROBOS A CASA HABITACION MES 1 2023, ROBOS A CASA HABITACION MES 1 2024, ROBOS A CASA HABITACION MES 1 2025, PROMEDIO DE ROBOS A CASA HABITACION MES 1, ROBOS A CASA HABITACION MES 2 2015, ROBOS A CASA HABITACION MES 2 2016, ROBOS A CASA HABITACION MES 2 2017, ROBOS A CASA HABITACION MES 2 2018, ROBOS A CASA HABITACION MES 2 2019, ROBOS A CASA HABITACION MES 2 2020, ROBOS A CASA HABITACION MES 2 2021, ROBOS A CASA HABITACION MES 2 2022, ROBOS A CASA HABITACION MES 2 2023, ROBOS A CASA HABITACION MES 2 2024, ROBOS A CASA HABITACION MES 2 2025, PROMEDIO DE ROBOS A CASA HABITACION MES 2..., hasta ROBOS A CASA HABITACION MES 12 2025, PROMEDIO DE ROBOS A CASA HABITACION MES 12
for mes in range(1, 13):
    for año in range(2015, 2026):
        # crear columna robos a casa habitacion por mes y año
        cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
    # crear columna promedio de robos a casa habitacion por mes, CLACULANDO LA MEDIA DE ROBOS A CASA HABITACION POR MES
    cuadrantes_df_CaHa[f'PROMEDIO DE ROBOS A CASA HABITACION MES {mes}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0] / 11)
# ver las primeras 13 columnas
cuadrantes_df_CaHa.head()

/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'PROMEDIO DE ROBOS A CASA HABITACION MES {mes}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0] / 11)
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'PROMEDIO DE ROBOS A CASA HABITACION MES {mes}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0] / 11)
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'ROBOS A CASA HABITACION MES {mes} {año}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_45965/163251160.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_CaHa[f'PROMEDIO DE ROBOS A CASA HABITACION MES {mes}'] = cuadrantes_df_CaHa['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0] / 11)

,CUADRANTE,POBLACION,ROBOS A CASA HABITACION MES 1 2015,ROBOS A CASA HABITACION MES 1 2016,ROBOS A CASA HABITACION MES 1 2017,ROBOS A CASA HABITACION MES 1 2018,ROBOS A CASA HABITACION MES 1 2019,ROBOS A CASA HABITACION MES 1 2020,ROBOS A CASA HABITACION MES 1 2021,ROBOS A CASA HABITACION MES 1 2022,...,ROBOS A CASA HABITACION MES 12 2017,ROBOS A CASA HABITACION MES 12 2018,ROBOS A CASA HABITACION MES 12 2019,ROBOS A CASA HABITACION MES 12 2020,ROBOS A CASA HABITACION MES 12 2021,ROBOS A CASA HABITACION MES 12 2022,ROBOS A CASA HABITACION MES 12 2023,ROBOS A CASA HABITACION MES 12 2024,ROBOS A CASA HABITACION MES 12 2025,PROMEDIO DE ROBOS A CASA HABITACION MES 12
0,1,0,2,3,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0.181818
1,2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
2,3,18838,11,14,8,9,6,7,0,1,...,4,2,3,1,0,0,0,3,0,2.181818
3,4,20919,1,0,2,4,0,5,0,1,...,3,2,0,3,2,0,2,1,0,1.727273
4,5,391,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000

In [250]:
# eliminar todas las columnas menos las que dicen PROMEDIO DE ROBOS A CASA HABITACION MES 1, PROMEDIO DE ROBOS A CASA HABITACION MES 2, PROMEDIO DE ROBOS A CASA HABITACION MES 3, PROMEDIO DE ROBOS A CASA HABITACION MES 4, PROMEDIO DE ROBOS A CASA HABITACION MES 5, PROMEDIO DE ROBOS A CASA HABITACION MES 6, PROMEDIO DE ROBOS A CASA HABITACION MES 7, PROMEDIO DE ROBOS A CASA HABITACION MES 8, PROMEDIO DE ROBOS A CASA HABITACION MES 9, PROMEDIO DE ROBOS A CASA HABITACION MES 10, PROMEDIO DE ROBOS A CASA HABITACION MES 11, PROMEDIO DE ROBOS A CASA HABITACION MES 12
cols_to_keep1 = ['CUADRANTE'] + [col for col in cuadrantes_df_CaHa.columns if 'PROMEDIO DE ROBOS A CASA HABITACION' in col]
cuadrantes_df_CaHa = cuadrantes_df_CaHa[cols_to_keep1]
cuadrantes_df_CaHa

,CUADRANTE,PROMEDIO DE ROBOS A CASA HABITACION MES 1,PROMEDIO DE ROBOS A CASA HABITACION MES 2,PROMEDIO DE ROBOS A CASA HABITACION MES 3,PROMEDIO DE ROBOS A CASA HABITACION MES 4,PROMEDIO DE ROBOS A CASA HABITACION MES 5,PROMEDIO DE ROBOS A CASA HABITACION MES 6,PROMEDIO DE ROBOS A CASA HABITACION MES 7,PROMEDIO DE ROBOS A CASA HABITACION MES 8,PROMEDIO DE ROBOS A CASA HABITACION MES 9,PROMEDIO DE ROBOS A CASA HABITACION MES 10,PROMEDIO DE ROBOS A CASA HABITACION MES 11,PROMEDIO DE ROBOS A CASA HABITACION MES 12
0,1,0.636364,0.090909,1.181818,0.636364,1.181818,1.090909,0.727273,1.181818,1.545455,0.636364,0.363636,0.181818
1,2,0.090909,0.000000,0.090909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,5.454545,4.181818,3.545455,4.545455,4.090909,4.090909,4.545455,4.727273,2.909091,3.727273,1.636364,2.181818
3,4,1.363636,2.272727,2.636364,2.181818,1.909091,1.272727,1.727273,1.727273,2.090909,1.636364,2.181818,1.727273
4,5,0.181818,0.090909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.181818,0.090909,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,74,1.818182,2.909091,3.090909,2.090909,2.000000,1.545455,1.545455,1.636364,1.454545,1.363636,1.727273,2.636364
74,75,1.727273,1.727273,2.181818,2.636364,2.090909,1.909091,1.363636,2.000000,1.272727,0.636364,0.818182,1.090909
75,76,0.909091,1.272727,1.000000,1.181818,0.636364,0.909091,1.000000,1.181818,1.090909,1.454545,1.090909,1.000000
76,77,1.727273,2.090909,1.909091,1.636364,1.727273,2.181818,1.181818,2.818182,1.909091,1.454545,0.909091,1.181818
77,78,0.909091,0.727273,1.181818,1.545455,1.272727,0.636364,0.454545,0.636364,0.363636,0.818182,1.181818,0.636364

## Crear tabla de cuadrantes para los robos de vehículos

In [251]:
# crear tabla de 78 cuadrantes, cada fila que sea 1 cuadrante, desde el 1 hasta el 78
cuadrantes_df_vehiculos = pd.DataFrame({'CUADRANTE': range(1, 79)})
cuadrantes_df_vehiculos.head()

   CUADRANTE
0          1
1          2
2          3
3          4
4          5

In [252]:
# unir cuadrantes_df_vehiculos con poblacion_cuadrantes por la columna CUADRANTE
cuadrantes_df_vehiculos = pd.merge(cuadrantes_df_vehiculos, poblacion_cuadrantes, on='CUADRANTE', how='left')
cuadrantes_df_vehiculos.head()

   CUADRANTE  POBLACION
0          1        NaN
1          2        NaN
2          3    18838.0
3          4    20919.0
4          5      391.0

In [253]:
# en la columna POBLACION, llenar los valores nulos con 0, y quitar los decimales convirtiendo a entero
cuadrantes_df_vehiculos['POBLACION'] = cuadrantes_df_vehiculos['POBLACION'].fillna(0).astype(int)
cuadrantes_df_vehiculos.head()

   CUADRANTE  POBLACION
0          1          0
1          2          0
2          3      18838
3          4      20919
4          5        391

In [254]:
# crear columna ROBOS DE VEHICULOS MES 1 2015, ROBOS DE VEHICULOS MES 1 2016, ROBOS DE VEHICULOS MES 1 2017, ROBOS DE VEHICULOS MES 1 2018, ROBOS DE VEHICULOS MES 1 2019, ROBOS DE VEHICULOS MES 1 2020, ROBOS DE VEHICULOS MES 1 2021, ROBOS DE VEHICULOS MES 1 2022, ROBOS DE VEHICULOS MES 1 2023, ROBOS DE VEHICULOS MES 1 2024, ROBOS DE VEHICULOS MES 1 2025, PROMEDIO DE ROBOS DE VEHICULOS MES 1, ROBOS DE VEHICULOS MES 2 2015, ROBOS DE VEHICULOS MES 2 2016, ROBOS DE VEHICULOS MES 2 2017, ROBOS DE VEHICULOS MES 2 2018, ROBOS DE VEHICULOS MES 2 2019, ROBOS DE VEHICULOS MES 2 2020, ROBOS DE VEHICULOS MES 2 2021, ROBOS DE VEHICULOS MES 2 2022, ROBOS DE VEHICULOS MES 2 2023, ROBOS DE VEHICULOS MES 2 2024, ROBOS DE VEHICULOS MES 2 2025, PROMEDIO DE ROBOS DE VEHICULOS MES 2..., hasta ROBOS DE VEHICULOS MES 12 2025, PROMEDIO DE ROBOS DE VEHICULOS MES 12
for mes in range(1, 13):
    for año in range(2015, 2026):
        # crear columna robos a vehiculos por mes y año
        cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
    # crear columna promedio de robos a vehiculos por mes, CLACULANDO LA MEDIA DE ROBOS A VEHICULOS POR MES
    cuadrantes_df_vehiculos[f'PROMEDIO DE ROBOS DE VEHICULOS MES {mes}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0] / 11)
cuadrantes_df_vehiculos.head()

/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'PROMEDIO DE ROBOS DE VEHICULOS MES {mes}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0] / 11)
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'PROMEDIO DE ROBOS DE VEHICULOS MES {mes}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0] / 11)
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'ROBOS DE VEHICULOS MES {mes} {año}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['AÑO'] == año) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_45965/51002449.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df_vehiculos[f'PROMEDIO DE ROBOS DE VEHICULOS MES {mes}'] = cuadrantes_df_vehiculos['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0] / 11)

,CUADRANTE,POBLACION,ROBOS DE VEHICULOS MES 1 2015,ROBOS DE VEHICULOS MES 1 2016,ROBOS DE VEHICULOS MES 1 2017,ROBOS DE VEHICULOS MES 1 2018,ROBOS DE VEHICULOS MES 1 2019,ROBOS DE VEHICULOS MES 1 2020,ROBOS DE VEHICULOS MES 1 2021,ROBOS DE VEHICULOS MES 1 2022,...,ROBOS DE VEHICULOS MES 12 2017,ROBOS DE VEHICULOS MES 12 2018,ROBOS DE VEHICULOS MES 12 2019,ROBOS DE VEHICULOS MES 12 2020,ROBOS DE VEHICULOS MES 12 2021,ROBOS DE VEHICULOS MES 12 2022,ROBOS DE VEHICULOS MES 12 2023,ROBOS DE VEHICULOS MES 12 2024,ROBOS DE VEHICULOS MES 12 2025,PROMEDIO DE ROBOS DE VEHICULOS MES 12
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0.090909
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
2,3,18838,1,0,0,1,0,0,0,1,...,0,1,1,0,1,0,0,1,0,0.454545
3,4,20919,0,0,0,0,0,1,0,2,...,0,0,1,0,2,1,0,1,0,0.454545
4,5,391,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000

In [256]:
# eliminar todas las columnas menos las que dicen PROMEDIO DE ROBOS A VEHICULOS MES 1, PROMEDIO DE ROBOS A VEHICULOS MES 2, PROMEDIO DE ROBOS DE VEHICULOS MES 3, PROMEDIO DE ROBOS DE VEHICULOS MES 4, PROMEDIO DE ROBOS DE VEHICULOS MES 5, PROMEDIO DE ROBOS DE VEHICULOS MES 6, PROMEDIO DE ROBOS DE VEHICULOS MES 7, PROMEDIO DE ROBOS DE VEHICULOS MES 8, PROMEDIO DE ROBOS DE VEHICULOS MES 9, PROMEDIO DE ROBOS DE VEHICULOS MES 10, PROMEDIO DE ROBOS DE VEHICULOS MES 11, PROMEDIO DE ROBOS DE VEHICULOS MES 12
cols_to_keep2 = ['CUADRANTE'] + [col for col in cuadrantes_df_vehiculos.columns if 'PROMEDIO DE ROBOS DE VEHICULOS' in col]
cuadrantes_df_vehiculos = cuadrantes_df_vehiculos[cols_to_keep2]
cuadrantes_df_vehiculos

,CUADRANTE,PROMEDIO DE ROBOS DE VEHICULOS MES 1,PROMEDIO DE ROBOS DE VEHICULOS MES 2,PROMEDIO DE ROBOS DE VEHICULOS MES 3,PROMEDIO DE ROBOS DE VEHICULOS MES 4,PROMEDIO DE ROBOS DE VEHICULOS MES 5,PROMEDIO DE ROBOS DE VEHICULOS MES 6,PROMEDIO DE ROBOS DE VEHICULOS MES 7,PROMEDIO DE ROBOS DE VEHICULOS MES 8,PROMEDIO DE ROBOS DE VEHICULOS MES 9,PROMEDIO DE ROBOS DE VEHICULOS MES 10,PROMEDIO DE ROBOS DE VEHICULOS MES 11,PROMEDIO DE ROBOS DE VEHICULOS MES 12
0,1,0.000000,0.000000,0.090909,0.000000,0.181818,0.000000,0.090909,0.181818,0.000000,0.000000,0.090909,0.090909
1,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.090909,0.000000,0.000000,0.000000
2,3,0.545455,0.363636,0.000000,0.363636,0.363636,0.545455,0.272727,0.454545,0.909091,0.818182,0.818182,0.454545
3,4,0.636364,0.272727,0.181818,0.363636,0.545455,0.181818,0.636364,0.727273,0.545455,0.272727,0.272727,0.454545
4,5,0.090909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,74,0.727273,0.636364,0.363636,0.272727,0.909091,0.636364,0.181818,0.818182,0.181818,0.545455,0.909091,0.636364
74,75,0.181818,1.090909,0.818182,0.818182,0.545455,0.454545,0.545455,1.181818,0.454545,0.545455,0.727273,0.545455
75,76,0.363636,0.454545,0.727273,0.727273,0.636364,0.818182,0.363636,0.818182,0.545455,0.545455,0.454545,0.727273
76,77,1.272727,1.272727,0.818182,1.181818,0.909091,0.454545,0.636364,1.000000,0.272727,0.363636,1.090909,1.636364
77,78,0.000000,0.454545,0.272727,0.363636,0.272727,0.090909,0.272727,0.272727,0.181818,0.636364,0.181818,0.272727

In [ ]:
# exportar robos_tot a un archivo excel llamado robos_tot.xlsx
# robos_tot.to_excel('robos_tot.xlsx', index=False)

In [ ]:
# crear columna total de robos, donde sea la suma de robos cuando el cuadrante sea igual al cuadrante de robos_tot
#cuadrantes_df['TOTAL DE ROBOS'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[robos_tot['CUADRANTE'] == x].shape[0])
#cuadrantes_df_negocios.head()

In [ ]:
# crear columna total de robos con violencia, donde sea la suma de robos con violencia cuando el cuadrante sea igual al cuadrante de robos_tot y la columna VIOLENCIA sea igual a 'SI'
#cuadrantes_df_negocios['ROBOS CON VIOLENCIA'] = cuadrantes_df_negocios['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
#cuadrantes_df_negocios.head()

In [ ]:
# crear columna total de robos sin violencia, donde sea la suma de robos sin violencia cuando el cuadrante sea igual al cuadrante de robos_tot y la columna VIOLENCIA sea igual a 'NO'
#cuadrantes_df['ROBOS SIN VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
#cuadrantes_df.head()

In [ ]:
# crear columna Robos a negocios, donde sea la suma de robos a negocios cuando el cuadrante sea igual al cuadrante de robos_tot y la columna TIPO sea igual a 'ROBO A NEGOCIO'
#cuadrantes_df['ROBOS A NEGOCIOS'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])

# crear columna robos a negocios con violencia, donde sea la suma de robos a negocios con violencia cuando el cuadrante sea igual al cuadrante de robos_tot, la columna TIPO sea igual a 'ROBO A NEGOCIO' y la columna VIOLENCIA sea igual a 'SI'
#cuadrantes_df['ROBOS A NEGOCIOS CON VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

# crear columna robos a negocios sin violencia, donde sea la suma de robos a negocios sin violencia cuando el cuadrante sea igual al cuadrante de robos_tot, la columna TIPO sea igual a 'ROBO A NEGOCIO' y la columna VIOLENCIA sea igual a 'NO'
#cuadrantes_df['ROBOS A NEGOCIOS SIN VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
#cuadrantes_df.head()

In [ ]:
# crear columna Robos a casa habitacion, donde sea la suma de robos A CASA HABITACION cuando el cuadrante sea igual al cuadrante de robos_tot y la columna TIPO sea igual a 'ROBO A CASA HABITACION'
#cuadrantes_df['ROBOS A CASA HABITACION'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])

# crear columna robos a casa habitacion con violencia, donde sea la suma de robos a casa habitacion con violencia cuando el cuadrante sea igual al cuadrante de robos_tot, la columna TIPO sea igual a 'ROBO A CASA HABITACION' y la columna VIOLENCIA sea igual a 'SI'
#cuadrantes_df['ROBOS A CASA HABITACION CON VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

# crear columna robos a casa habitacion sin violencia, donde sea la suma de robos a casa habitacion sin violencia cuando el cuadrante sea igual al cuadrante de robos_tot, la columna TIPO sea igual a 'ROBO A CASA HABITACION' y la columna VIOLENCIA sea igual a 'NO'
#cuadrantes_df['ROBOS A CASA HABITACION SIN VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
#cuadrantes_df.head()

In [ ]:
# crear columna Robos DE VEHICULOS, donde sea la suma de robos DE VEHICULOS cuando el cuadrante sea igual al cuadrante de robos_tot y la columna TIPO sea igual a 'ROBO DE VEHICULO'
#cuadrantes_df['ROBOS DE VEHICULOS'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])

# crear columna robos de vehiculos con violencia, donde sea la suma de robos de vehiculos con violencia cuando el cuadrante sea igual al cuadrante de robos_tot, la columna TIPO sea igual a 'ROBO DE VEHICULO' y la columna VIOLENCIA sea igual a 'SI'
#cuadrantes_df['ROBOS DE VEHICULOS CON VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

# crear columna robos de vehiculos sin violencia, donde sea la suma de robos de vehiculos sin violencia cuando el cuadrante sea igual al cuadrante de robos_tot, la columna TIPO sea igual a 'ROBO DE VEHICULO' y la columna VIOLENCIA sea igual a 'NO'
#cuadrantes_df['ROBOS DE VEHICULOS SIN VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
#cuadrantes_df.head()

In [ ]:
'''''
crear columnas de promedio de robos, promedio de robos con y sin violencia, promedio de robos a negocios, promedio de robos a negocios con y sin violencia, promedio de robos a casa habitacion, promedio de robos a casa habitacion con y sin violencia, promedio de robos de vehiculos, promedio de robos de vehiculos con y sin violencia para todos los meses para todos los 10 años
#for mes in range(1, 13):
    # crear columna promedio de robos por mes, CLACULANDO LA MEDIA DE ROBOS POR MES
    cuadrantes_df[f'PROMEDIO DE ROBOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes)].shape[0])
    # crear columna promedio de robos con violencia por mes
    cuadrantes_df[f'PROMEDIO DE ROBOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
    # crear columna promedio de robos sin violencia por mes
    cuadrantes_df[f'PROMEDIO DE ROBOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
    # crear columna promedio de robos a negocios por mes
    cuadrantes_df[f'PROMEDIO DE ROBOS A NEGOCIOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
    # crear columna promedio de robos a negocios con violencia por mes
    cuadrantes_df[f'PROMEDIO DE ROBOS A NEGOCIOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
    # crear columna promedio de robos a negocios sin violencia por mes
    cuadrantes_df[f'PROMEDIO DE ROBOS A NEGOCIOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
    # crear columna promedio de robos a casa habitacion por mes
    cuadrantes_df[f'PROMEDIO DE ROBOS A CASA HABITACION MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
    # crear columna promedio de robos a casa habitacion con violencia por mes
    cuadrantes_df[f'PROMEDIO DE ROBOS A CASA HABITACION CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
    # crear columna promedio de robos a casa habitacion sin violencia por mes
    cuadrantes_df[f'PROMEDIO DE ROBOS A CASA HABITACION SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
    # crear columna promedio de robos de vehiculos por mes
    cuadrantes_df[f'PROMEDIO DE ROBOS DE VEHICULOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
    # crear columna promedio de robos de vehiculos con violencia por mes
    cuadrantes_df[f'PROMEDIO DE ROBOS DE VEHICULOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
    # crear columna promedio de robos de vehiculos sin violencia por mes
    cuadrantes_df[f'PROMEDIO DE ROBOS DE VEHICULOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
cuadrantes_df.head()
'''''

In [ ]:
'''''''''
cuadrantes_df.head()
'''''''''

In [ ]:
'''
# crear columnas de total de robos, total de robos con y sin violencia, robos a negocios, robos a negocios con y sin violencia, robos a a casa habitacion, robos a casa habitacion con y sin violencia, robos de vehiculos, robos de vehiculos con y sin violencia para todas las estaciones
# ten en cuenta que las estaciones empiezan en los siguientes días: primavera: 21 de marzo, Verano: 21 de junio, Otoño: 23 de septiembre, Invierno: 21 de diciembre
estaciones = ['Primavera', 'Verano', 'Otoño', 'Invierno']
for estacion in estaciones:
    # crear columna total de robos por estacion
    cuadrantes_df[f'TOTAL DE ROBOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion)].shape[0])
    
    # crear columna total de robos con violencia por estacion
    cuadrantes_df[f'ROBOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
    
    # crear columna total de robos sin violencia por estacion
    cuadrantes_df[f'ROBOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
    
    # crear columna robos a negocios por estacion
    cuadrantes_df[f'ROBOS A NEGOCIOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])

    # crear columna robos a negocios con violencia por estacion
    cuadrantes_df[f'ROBOS A NEGOCIOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

    # crear columna robos a negocios sin violencia por estacion
    cuadrantes_df[f'ROBOS A NEGOCIOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])

    # crear columna robos a casa habitacion por estacion
    cuadrantes_df[f'ROBOS A CASA HABITACION {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])

    # crear columna robos a casa habitacion con violencia por estacion
    cuadrantes_df[f'ROBOS A CASA HABITACION CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

    # crear columna robos a casa habitacion sin violencia por estacion
    cuadrantes_df[f'ROBOS A CASA HABITACION SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])

    # crear columna robos de vehiculos por estacion
    cuadrantes_df[f'ROBOS DE VEHICULOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])

    # crear columna robos de vehiculos con violencia por estacion
    cuadrantes_df[f'ROBOS DE VEHICULOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

    # crear columna robos de vehiculos sin violencia por estacion
    cuadrantes_df[f'ROBOS DE VEHICULOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])

cuadrantes_df.head()
'''

In [ ]:
'''
# separar cuadrantes_df en tres dataframes: uno que tenga las columnas de total de robos, total de robos con y sin violencia, y que tenga todo los demas solo para el tipo de robo de negocio; uno que tenga las columnas de total de robos, total de robos con y sin violencia, y que tenga todo los demas solo para el tipo de robo a casa habitacion; y uno que tenga las columnas de total de robos, total de robos con y sin violencia, y que tenga todo los demas solo para el tipo de robo de vehiculo
cuadrantes_negocios_df = cuadrantes_df[['CUADRANTE', 'POBLACION', 'TOTAL DE ROBOS', 'ROBOS CON VIOLENCIA', 'ROBOS SIN VIOLENCIA'] + 
                                 [col for col in cuadrantes_df.columns if 'NEGOCIOS' in col]]
cuadrantes_negocios_df.head()
'''

In [ ]:
# exportar cuadrantes_negocios_df a un archivo excel llamado cuadrantes_negocios.xlsx
# cuadrantes_negocios_df.to_excel('cuadrantes_negocios.xlsx', index=False)

In [ ]:
'''
cuadrantes_casahabitacion_df = cuadrantes_df[['CUADRANTE', 'POBLACION', 'TOTAL DE ROBOS', 'ROBOS CON VIOLENCIA', 'ROBOS SIN VIOLENCIA'] + 
                                         [col for col in cuadrantes_df.columns if 'CASA HABITACION' in col]]
cuadrantes_casahabitacion_df.head()
'''

In [ ]:
# exportar cuadrantes_casahabitacion_df a un archivo excel llamado cuadrantes_casahabitacion.xlsx
# cuadrantes_casahabitacion_df.to_excel('cuadrantes_casahabitacion.xlsx', index=False)

In [ ]:
'''cuadrantes_vehiculos_df = cuadrantes_df[['CUADRANTE', 'POBLACION', 'TOTAL DE ROBOS', 'ROBOS CON VIOLENCIA', 'ROBOS SIN VIOLENCIA'] + 
                                   [col for col in cuadrantes_df.columns if 'VEHICULOS' in col]]
cuadrantes_vehiculos_df.head()'''

In [ ]:
'''# exportar cuadrantes_vehiculos_df a un archivo excel llamado cuadrantes_vehiculos.xlsx
cuadrantes_vehiculos_df.to_excel('cuadrantes_vehiculos.xlsx', index=False)
'''''