In [91]:
# leer archivos data/IPH_robos_2015_2020_tecmty.xlsx, data/IPH_robos_2021_2024_tecmty_fechas_corregidas.xlsx, data/IPH_robos_ene-ago-2025_tecmty.xlsx y data/unidades economicas cuadrantes.xlsx y data/poblacion cuadrantes.xlsx
import pandas as pd

# Cargar los archivos
robos_2015_2020 = pd.read_excel("data/IPH_robos_2015_2020_tecmty.xlsx")
robos_2021_2024 = pd.read_excel("data/IPH_robos_2021_2024_tecmty_fechas_corregidas.xlsx")
robos_ene_ago_2025 = pd.read_excel("data/IPH_robos_ene-ago-2025_tecmty.xlsx")
poblacion_cuadrantes = pd.read_excel("data/poblacion cuadrantes.xlsx")

# Robos 2015-2020

In [92]:
robos_2015_2020.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
0,50848SP,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.622462,-106.099586,Diana,32
1,68587,2015-01-01,99,99,ROBO DE VEHICULO,SI,28.702297,-106.110216,Villa,17
2,68842X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.685211,-106.027960,Morelos,45
3,61105X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.617434,-106.094153,Zapata,68
4,77924,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.725298,-106.112998,Colón,13

In [93]:
# ver si en la columna fecha hay datos nulos
robos_2015_2020['FECHA'].isnull().sum()

np.int64(0)

In [94]:
# ver que tipos de datos son las columnas
robos_2015_2020.dtypes

FOLIO                object
FECHA        datetime64[ns]
HORA                  int64
MINUTO                int64
TIPO                 object
VIOLENCIA            object
LATITUD             float64
LONGITUD            float64
DISTRITO             object
CUADRANTE             int64
dtype: object

# Robos 2021-2024

In [95]:
robos_2021_2024.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,dia
0,3196367,2024-01-01,99,99,ROBO A CASA HABITACION,NO,28.719604,-106.142035,Colón,12,NaN
1,3196186,2024-01-01,99,99,ROBO DE VEHICULO,NO,28.717739,-106.089196,Colón,15,NaN
2,3196158,2024-01-01,99,99,ROBO A CASA HABITACION,NO,28.646452,-106.057703,Ángel,35,NaN
3,3195958,2024-01-01,99,99,ROBO A NEGOCIO,NO,28.621036,-106.030771,Zapata,77,NaN
4,3195921,2024-01-01,99,99,ROBO DE VEHICULO,NO,28.602171,-105.992235,Morelos,57,NaN

In [96]:
# ver si en la columna fecha hay datos nulos
robos_2021_2024['FECHA'].isnull().sum()

np.int64(0)

In [97]:
# ver que tipo de datos son las columnas
robos_2021_2024.dtypes

FOLIO                 int64
FECHA        datetime64[ns]
HORA                  int64
MINUTO                int64
TIPO                 object
VIOLENCIA            object
LATITUD             float64
LONGITUD            float64
DISTRITO             object
CUADRANTE             int64
dia                 float64
dtype: object

In [98]:
# ordenar las fechas de forma ascendente
robos_2021_2024 = robos_2021_2024.sort_values(by='FECHA').reset_index(drop=True)
robos_2021_2024.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,dia
0,1278678,2021-02-01,2,29,ROBO DE VEHICULO,NO,28.619408,-106.050057,Zapata,77,NaN
1,1278991,2021-02-01,13,34,ROBO A CASA HABITACION,NO,28.693545,-106.133809,Diana,28,NaN
2,1278949,2021-02-01,12,33,ROBO A NEGOCIO,NO,28.717592,-106.145238,Colón,12,NaN
3,1278846,2021-02-01,10,33,ROBO A NEGOCIO,SI,28.677986,-106.128340,Villa,19,NaN
4,1278655,2021-02-01,1,38,ROBO DE VEHICULO,NO,28.657951,-106.122712,Diana,29,NaN

In [99]:
# eliminar la columna día
robos_2021_2024 = robos_2021_2024.drop(columns=['dia'])
robos_2021_2024.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
0,1278678,2021-02-01,2,29,ROBO DE VEHICULO,NO,28.619408,-106.050057,Zapata,77
1,1278991,2021-02-01,13,34,ROBO A CASA HABITACION,NO,28.693545,-106.133809,Diana,28
2,1278949,2021-02-01,12,33,ROBO A NEGOCIO,NO,28.717592,-106.145238,Colón,12
3,1278846,2021-02-01,10,33,ROBO A NEGOCIO,SI,28.677986,-106.128340,Villa,19
4,1278655,2021-02-01,1,38,ROBO DE VEHICULO,NO,28.657951,-106.122712,Diana,29

# Robos 2025

In [100]:
robos_ene_ago_2025.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
0,759476,2025-01-01,5,11,ROBO A NEGOCIO,SI,28.600113,-106.061258,Zapata,76
1,759978,2025-01-01,5,25,ROBO A NEGOCIO,SI,28.609652,-106.065990,Zapata,75
2,760050,2025-01-01,6,31,ROBO DE VEHICULO,NO,28.639322,-106.039862,Morelos,51
3,760404,2025-01-01,11,50,ROBO A CASA HABITACION,NO,28.643275,-106.030795,Morelos,51
4,769412,2025-01-01,12,0,ROBO A NEGOCIO,NO,28.693501,-106.115590,Villa,17

In [101]:
# cambiar nombre de columna VOLENCIA a VIOLENCIA
robos_ene_ago_2025 = robos_ene_ago_2025.rename(columns={'VOLENCIA': 'VIOLENCIA'})
robos_ene_ago_2025.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
0,759476,2025-01-01,5,11,ROBO A NEGOCIO,SI,28.600113,-106.061258,Zapata,76
1,759978,2025-01-01,5,25,ROBO A NEGOCIO,SI,28.609652,-106.065990,Zapata,75
2,760050,2025-01-01,6,31,ROBO DE VEHICULO,NO,28.639322,-106.039862,Morelos,51
3,760404,2025-01-01,11,50,ROBO A CASA HABITACION,NO,28.643275,-106.030795,Morelos,51
4,769412,2025-01-01,12,0,ROBO A NEGOCIO,NO,28.693501,-106.115590,Villa,17

In [102]:
# ver si hay valores nulos en la columna FECHA
robos_ene_ago_2025['FECHA'].isnull().sum()

np.int64(0)

In [103]:
# ver que tipos de datos son las columnas
robos_ene_ago_2025.dtypes

FOLIO                 int64
FECHA        datetime64[ns]
HORA                  int64
MINUTO                int64
TIPO                 object
VIOLENCIA            object
LATITUD             float64
LONGITUD            float64
DISTRITO             object
CUADRANTE             int64
dtype: object

# dataframes unidos

In [104]:
# unir los tres dataframes de robos en uno solo, primero robos_2015_2020, luego robos_2021_2024 y al final robos_ene_ago_2025
robos_tot = pd.concat([robos_2015_2020, robos_2021_2024, robos_ene_ago_2025]).reset_index(drop=True)
robos_tot.tail()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE
35106,1345602,2025-08-30,18,40,ROBO A NEGOCIO,SI,28.615299,-106.097890,Zapata,68
35107,1345968,2025-08-30,21,0,ROBO A NEGOCIO,NO,28.623672,-106.115850,Diana,32
35108,1346807,2025-08-31,1,58,ROBO DE VEHICULO,NO,28.649612,-106.001734,Morelos,52
35109,1347625,2025-08-31,10,1,ROBO DE VEHICULO,NO,28.607209,-106.083870,Zapata,74
35110,1348453,2025-08-31,17,51,ROBO A NEGOCIO,NO,28.641761,-106.001923,Morelos,52

In [105]:
robos_tot.shape

(35111, 10)

In [106]:
# ver cuantos cuadrantes unicos hay en el dataframe robos_tot
robos_tot['CUADRANTE'].nunique()

77

In [107]:
# crear columna DIA a partir de la columna FECHA
robos_tot['DIA'] = robos_tot['FECHA'].dt.day
robos_tot.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,DIA
0,50848SP,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.622462,-106.099586,Diana,32,1
1,68587,2015-01-01,99,99,ROBO DE VEHICULO,SI,28.702297,-106.110216,Villa,17,1
2,68842X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.685211,-106.027960,Morelos,45,1
3,61105X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.617434,-106.094153,Zapata,68,1
4,77924,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.725298,-106.112998,Colón,13,1

In [108]:
# crear columnas de MES
robos_tot['MES'] = robos_tot['FECHA'].dt.month

# crear columna de estacion de acuerdo al mes y al día, teniendo en cuenta que las estaciones empiezan en los siguientes días:
# Primavera: 21 de marzo y termina el 20 de junio
# Verano: 21 de junio y termina el 22 de septiembre
# Otoño: 23 de septiembre y termina el 20 de diciembre
# Invierno: 21 de diciembre y termina el 20 de marzo
def obtener_estacion(mes, dia):
    if mes == 3 and dia >= 21 or mes in [4, 5] or mes == 6 and dia <= 20:
        return 'Primavera'
    elif mes == 6 and dia >= 21 or mes in [7, 8] or mes == 9 and dia <= 22:
        return 'Verano'
    elif mes == 9 and dia >= 23 or mes in [10, 11] or mes == 12 and dia <= 20:
        return 'Otoño'
    else:
        return 'Invierno'
robos_tot['ESTACION'] = robos_tot.apply(lambda x: obtener_estacion(x['MES'], x['DIA']), axis=1)
robos_tot.head()

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,DIA,MES,ESTACION
0,50848SP,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.622462,-106.099586,Diana,32,1,1,Invierno
1,68587,2015-01-01,99,99,ROBO DE VEHICULO,SI,28.702297,-106.110216,Villa,17,1,1,Invierno
2,68842X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.685211,-106.027960,Morelos,45,1,1,Invierno
3,61105X,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.617434,-106.094153,Zapata,68,1,1,Invierno
4,77924,2015-01-01,99,99,ROBO A CASA HABITACION,NO,28.725298,-106.112998,Colón,13,1,1,Invierno

In [109]:
robos_tot[robos_tot['FECHA'] == '2016-03-20']

,FOLIO,FECHA,HORA,MINUTO,TIPO,VIOLENCIA,LATITUD,LONGITUD,DISTRITO,CUADRANTE,DIA,MES,ESTACION
4850,81499,2016-03-20,99,99,ROBO DE VEHICULO,SI,28.699494,-106.126114,Villa,16,20,3,Invierno
4851,119917,2016-03-20,99,99,ROBO A NEGOCIO,SI,28.660428,-106.086792,Villa,25,20,3,Invierno
4852,116993,2016-03-20,99,99,ROBO A CASA HABITACION,NO,28.663078,-105.978380,Morelos,47,20,3,Invierno
4853,65078,2016-03-20,99,99,ROBO A CASA HABITACION,NO,28.598716,-106.013873,Morelos,56,20,3,Invierno
4854,102557,2016-03-20,99,99,ROBO A CASA HABITACION,NO,28.752186,-106.130140,Colón,8,20,3,Invierno
4855,80869,2016-03-20,99,99,ROBO A CASA HABITACION,NO,28.773529,-106.166469,Colón,3,20,3,Invierno
4856,58064,2016-03-20,99,99,ROBO A NEGOCIO,NO,28.640231,-106.080823,Ángel,37,20,3,Invierno
4857,120514,2016-03-20,99,99,ROBO A CASA HABITACION,NO,28.694495,-106.099549,Villa,20,20,3,Invierno

In [110]:
# exportar robos_tot a un archivo excel llamado robos_tot_fin.xlsx
robos_tot.to_excel('robos_tot_fin.xlsx', index=False)

# Crear tabla de cuadrantes

In [111]:
# crear tabla de 78 cuadrantes, cada fila que sea 1 cuadrante, desde el 1 hasta el 78
cuadrantes_df = pd.DataFrame({'CUADRANTE': range(1, 79)})
cuadrantes_df.head()

   CUADRANTE
0          1
1          2
2          3
3          4
4          5

In [112]:
# ver cuantos cuadrantes hay en el dataframe cuadrantes_df
cuadrantes_df['CUADRANTE'].nunique()

78

## introducir df de poblacion por cuadrante

In [113]:
poblacion_cuadrantes.head(10)

   cuadrante  poblacion
0          3      18838
1          4      20919
2          5        391
3          6      24485
4          7      31984
5          8      28901
6          9      25765
7         11      22683
8         12      13257
9         13      19409

In [114]:
# ver cuantos cuadrantes unicos hay en el dataframe poblacion_cuadrantes
poblacion_cuadrantes['cuadrante'].nunique()

75

In [115]:
# cambiar el nombre de la columna 'cuadrante' a 'CUADRANTE' para hacer merge despues, y también de la columna 'poblacion' a 'POBLACION'
poblacion_cuadrantes = poblacion_cuadrantes.rename(columns={'cuadrante': 'CUADRANTE', 'poblacion': 'POBLACION'})
poblacion_cuadrantes.head()

   CUADRANTE  POBLACION
0          3      18838
1          4      20919
2          5        391
3          6      24485
4          7      31984

In [116]:
# unir cuadrantes_df con poblacion_cuadrantes por la columna CUADRANTE
cuadrantes_df = pd.merge(cuadrantes_df, poblacion_cuadrantes, on='CUADRANTE', how='left')
cuadrantes_df.head()

   CUADRANTE  POBLACION
0          1        NaN
1          2        NaN
2          3    18838.0
3          4    20919.0
4          5      391.0

In [118]:
# en la columna POBLACION, llenar los valores nulos con 0, y quitar los decimales convirtiendo a entero
cuadrantes_df['POBLACION'] = cuadrantes_df['POBLACION'].fillna(0).astype(int)
cuadrantes_df.head()

   CUADRANTE  POBLACION
0          1          0
1          2          0
2          3      18838
3          4      20919
4          5        391

In [119]:
# exportar robos_tot a un archivo excel llamado robos_tot.xlsx
# robos_tot.to_excel('robos_tot.xlsx', index=False)

In [120]:
# crear columna total de robos, donde sea la suma de robos cuando el cuadrante sea igual al cuadrante de robos_tot
cuadrantes_df['TOTAL DE ROBOS'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[robos_tot['CUADRANTE'] == x].shape[0])
cuadrantes_df.head()

   CUADRANTE  POBLACION  TOTAL DE ROBOS
0          1          0             136
1          2          0               3
2          3      18838             715
3          4      20919             362
4          5        391               8

In [121]:
# crear columna total de robos con violencia, donde sea la suma de robos con violencia cuando el cuadrante sea igual al cuadrante de robos_tot y la columna VIOLENCIA sea igual a 'SI'
cuadrantes_df['ROBOS CON VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
cuadrantes_df.head()

   CUADRANTE  POBLACION  TOTAL DE ROBOS  ROBOS CON VIOLENCIA
0          1          0             136                   14
1          2          0               3                    0
2          3      18838             715                   97
3          4      20919             362                   46
4          5        391               8                    2

In [122]:
# crear columna total de robos sin violencia, donde sea la suma de robos sin violencia cuando el cuadrante sea igual al cuadrante de robos_tot y la columna VIOLENCIA sea igual a 'NO'
cuadrantes_df['ROBOS SIN VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
cuadrantes_df.head()

,CUADRANTE,POBLACION,TOTAL DE ROBOS,ROBOS CON VIOLENCIA,ROBOS SIN VIOLENCIA
0,1,0,136,14,122
1,2,0,3,0,3
2,3,18838,715,97,618
3,4,20919,362,46,316
4,5,391,8,2,6

In [123]:
# crear columna Robos a negocios, donde sea la suma de robos a negocios cuando el cuadrante sea igual al cuadrante de robos_tot y la columna TIPO sea igual a 'ROBO A NEGOCIO'
cuadrantes_df['ROBOS A NEGOCIOS'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])

# crear columna robos a negocios con violencia, donde sea la suma de robos a negocios con violencia cuando el cuadrante sea igual al cuadrante de robos_tot, la columna TIPO sea igual a 'ROBO A NEGOCIO' y la columna VIOLENCIA sea igual a 'SI'
cuadrantes_df['ROBOS A NEGOCIOS CON VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

# crear columna robos a negocios sin violencia, donde sea la suma de robos a negocios sin violencia cuando el cuadrante sea igual al cuadrante de robos_tot, la columna TIPO sea igual a 'ROBO A NEGOCIO' y la columna VIOLENCIA sea igual a 'NO'
cuadrantes_df['ROBOS A NEGOCIOS SIN VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
cuadrantes_df.head()

,CUADRANTE,POBLACION,TOTAL DE ROBOS,ROBOS CON VIOLENCIA,ROBOS SIN VIOLENCIA,ROBOS A NEGOCIOS,ROBOS A NEGOCIOS CON VIOLENCIA,ROBOS A NEGOCIOS SIN VIOLENCIA
0,1,0,136,14,122,24,8,16
1,2,0,3,0,3,0,0,0
2,3,18838,715,97,618,148,71,77
3,4,20919,362,46,316,56,30,26
4,5,391,8,2,6,1,1,0

In [124]:
# crear columna Robos a casa habitacion, donde sea la suma de robos A CASA HABITACION cuando el cuadrante sea igual al cuadrante de robos_tot y la columna TIPO sea igual a 'ROBO A CASA HABITACION'
cuadrantes_df['ROBOS A CASA HABITACION'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])

# crear columna robos a casa habitacion con violencia, donde sea la suma de robos a casa habitacion con violencia cuando el cuadrante sea igual al cuadrante de robos_tot, la columna TIPO sea igual a 'ROBO A CASA HABITACION' y la columna VIOLENCIA sea igual a 'SI'
cuadrantes_df['ROBOS A CASA HABITACION CON VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

# crear columna robos a casa habitacion sin violencia, donde sea la suma de robos a casa habitacion sin violencia cuando el cuadrante sea igual al cuadrante de robos_tot, la columna TIPO sea igual a 'ROBO A CASA HABITACION' y la columna VIOLENCIA sea igual a 'NO'
cuadrantes_df['ROBOS A CASA HABITACION SIN VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
cuadrantes_df.head()

,CUADRANTE,POBLACION,TOTAL DE ROBOS,ROBOS CON VIOLENCIA,ROBOS SIN VIOLENCIA,ROBOS A NEGOCIOS,ROBOS A NEGOCIOS CON VIOLENCIA,ROBOS A NEGOCIOS SIN VIOLENCIA,ROBOS A CASA HABITACION,ROBOS A CASA HABITACION CON VIOLENCIA,ROBOS A CASA HABITACION SIN VIOLENCIA
0,1,0,136,14,122,24,8,16,104,3,101
1,2,0,3,0,3,0,0,0,2,0,2
2,3,18838,715,97,618,148,71,77,502,4,498
3,4,20919,362,46,316,56,30,26,250,7,243
4,5,391,8,2,6,1,1,0,6,0,6

In [125]:
# crear columna Robos DE VEHICULOS, donde sea la suma de robos DE VEHICULOS cuando el cuadrante sea igual al cuadrante de robos_tot y la columna TIPO sea igual a 'ROBO DE VEHICULO'
cuadrantes_df['ROBOS DE VEHICULOS'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])

# crear columna robos de vehiculos con violencia, donde sea la suma de robos de vehiculos con violencia cuando el cuadrante sea igual al cuadrante de robos_tot, la columna TIPO sea igual a 'ROBO DE VEHICULO' y la columna VIOLENCIA sea igual a 'SI'
cuadrantes_df['ROBOS DE VEHICULOS CON VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

# crear columna robos de vehiculos sin violencia, donde sea la suma de robos de vehiculos sin violencia cuando el cuadrante sea igual al cuadrante de robos_tot, la columna TIPO sea igual a 'ROBO DE VEHICULO' y la columna VIOLENCIA sea igual a 'NO'
cuadrantes_df['ROBOS DE VEHICULOS SIN VIOLENCIA'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
cuadrantes_df.head()

,CUADRANTE,POBLACION,TOTAL DE ROBOS,ROBOS CON VIOLENCIA,ROBOS SIN VIOLENCIA,ROBOS A NEGOCIOS,ROBOS A NEGOCIOS CON VIOLENCIA,ROBOS A NEGOCIOS SIN VIOLENCIA,ROBOS A CASA HABITACION,ROBOS A CASA HABITACION CON VIOLENCIA,ROBOS A CASA HABITACION SIN VIOLENCIA,ROBOS DE VEHICULOS,ROBOS DE VEHICULOS CON VIOLENCIA,ROBOS DE VEHICULOS SIN VIOLENCIA
0,1,0,136,14,122,24,8,16,104,3,101,8,3,5
1,2,0,3,0,3,0,0,0,2,0,2,1,0,1
2,3,18838,715,97,618,148,71,77,502,4,498,65,22,43
3,4,20919,362,46,316,56,30,26,250,7,243,56,9,47
4,5,391,8,2,6,1,1,0,6,0,6,1,1,0

In [126]:
# crear columnas de total de robos, total de robos con y sin violencia, robos a negocios, robos a negocios con y sin violencia, robos a a casa habitacion, robos a casa habitacion con y sin violencia, robos de vehiculos, robos de vehiculos con y sin violencia para todos los meses
for mes in range(1, 13):
    # crear columna total de robos por mes
    cuadrantes_df[f'TOTAL DE ROBOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes)].shape[0])
    
    # crear columna total de robos con violencia por mes
    cuadrantes_df[f'ROBOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
    
    # crear columna total de robos sin violencia por mes
    cuadrantes_df[f'ROBOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
    
    # crear columna robos a negocios por mes
    cuadrantes_df[f'ROBOS A NEGOCIOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])

    # crear columna robos a negocios con violencia por mes
    cuadrantes_df[f'ROBOS A NEGOCIOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

    # crear columna robos a negocios sin violencia por mes
    cuadrantes_df[f'ROBOS A NEGOCIOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
    
    # crear columna robos a casa habitacion por mes
    cuadrantes_df[f'ROBOS A CASA HABITACION MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])

    # crear columna robos a casa habitacion con violencia por mes
    cuadrantes_df[f'ROBOS A CASA HABITACION CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

    # crear columna robos a casa habitacion sin violencia por mes
    cuadrantes_df[f'ROBOS A CASA HABITACION SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
    
    # crear columna robos de vehiculos por mes
    cuadrantes_df[f'ROBOS DE VEHICULOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])

    # crear columna robos de vehiculos con violencia por mes
    cuadrantes_df[f'ROBOS DE VEHICULOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

    # crear columna robos de vehiculos sin violencia por mes
    cuadrantes_df[f'ROBOS DE VEHICULOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])

/tmp/ipykernel_5505/3635817622.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/3635817622.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_5505/3635817622.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/3635817622.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:31: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:34: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/3635817622.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'TOTAL DE ROBOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes)].shape[0])
/tmp/ipykernel_5505/3635817622.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/3635817622.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/3635817622.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_5505/3635817622.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/3635817622.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:31: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:34: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/3635817622.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'TOTAL DE ROBOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes)].shape[0])
/tmp/ipykernel_5505/3635817622.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/3635817622.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/3635817622.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_5505/3635817622.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/3635817622.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:31: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:34: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/3635817622.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS SIN VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/3635817622.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'TOTAL DE ROBOS MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes)].shape[0])
/tmp/ipykernel_5505/3635817622.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS CON VIOLENCIA MES {mes}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['MES'] == mes) & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

In [127]:
cuadrantes_df.head()

,CUADRANTE,POBLACION,TOTAL DE ROBOS,ROBOS CON VIOLENCIA,ROBOS SIN VIOLENCIA,ROBOS A NEGOCIOS,ROBOS A NEGOCIOS CON VIOLENCIA,ROBOS A NEGOCIOS SIN VIOLENCIA,ROBOS A CASA HABITACION,ROBOS A CASA HABITACION CON VIOLENCIA,...,ROBOS SIN VIOLENCIA MES 12,ROBOS A NEGOCIOS MES 12,ROBOS A NEGOCIOS CON VIOLENCIA MES 12,ROBOS A NEGOCIOS SIN VIOLENCIA MES 12,ROBOS A CASA HABITACION MES 12,ROBOS A CASA HABITACION CON VIOLENCIA MES 12,ROBOS A CASA HABITACION SIN VIOLENCIA MES 12,ROBOS DE VEHICULOS MES 12,ROBOS DE VEHICULOS CON VIOLENCIA MES 12,ROBOS DE VEHICULOS SIN VIOLENCIA MES 12
0,1,0,136,14,122,24,8,16,104,3,...,3,1,1,0,2,0,2,1,0,1
1,2,0,3,0,3,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
2,3,18838,715,97,618,148,71,77,502,4,...,35,11,3,8,24,1,23,5,1,4
3,4,20919,362,46,316,56,30,26,250,7,...,23,3,3,0,19,0,19,5,1,4
4,5,391,8,2,6,1,1,0,6,0,...,0,1,1,0,0,0,0,0,0,0

In [128]:
# crear columnas de total de robos, total de robos con y sin violencia, robos a negocios, robos a negocios con y sin violencia, robos a a casa habitacion, robos a casa habitacion con y sin violencia, robos de vehiculos, robos de vehiculos con y sin violencia para todas las estaciones
# ten en cuenta que las estaciones empiezan en los siguientes días: primavera: 21 de marzo, Verano: 21 de junio, Otoño: 23 de septiembre, Invierno: 21 de diciembre
estaciones = ['Primavera', 'Verano', 'Otoño', 'Invierno']
for estacion in estaciones:
    # crear columna total de robos por estacion
    cuadrantes_df[f'TOTAL DE ROBOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion)].shape[0])
    
    # crear columna total de robos con violencia por estacion
    cuadrantes_df[f'ROBOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
    
    # crear columna total de robos sin violencia por estacion
    cuadrantes_df[f'ROBOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
    
    # crear columna robos a negocios por estacion
    cuadrantes_df[f'ROBOS A NEGOCIOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])

    # crear columna robos a negocios con violencia por estacion
    cuadrantes_df[f'ROBOS A NEGOCIOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

    # crear columna robos a negocios sin violencia por estacion
    cuadrantes_df[f'ROBOS A NEGOCIOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])

    # crear columna robos a casa habitacion por estacion
    cuadrantes_df[f'ROBOS A CASA HABITACION {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])

    # crear columna robos a casa habitacion con violencia por estacion
    cuadrantes_df[f'ROBOS A CASA HABITACION CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

    # crear columna robos a casa habitacion sin violencia por estacion
    cuadrantes_df[f'ROBOS A CASA HABITACION SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])

    # crear columna robos de vehiculos por estacion
    cuadrantes_df[f'ROBOS DE VEHICULOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])

    # crear columna robos de vehiculos con violencia por estacion
    cuadrantes_df[f'ROBOS DE VEHICULOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

    # crear columna robos de vehiculos sin violencia por estacion
    cuadrantes_df[f'ROBOS DE VEHICULOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])

cuadrantes_df.head()

/tmp/ipykernel_5505/1041306477.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'TOTAL DE ROBOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion)].shape[0])
/tmp/ipykernel_5505/1041306477.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/1041306477.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/1041306477.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_5505/1041306477.py:27: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/1041306477.py:30: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:36: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/1041306477.py:39: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'TOTAL DE ROBOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion)].shape[0])
/tmp/ipykernel_5505/1041306477.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/1041306477.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/1041306477.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_5505/1041306477.py:27: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/1041306477.py:30: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:36: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/1041306477.py:39: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'TOTAL DE ROBOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion)].shape[0])
/tmp/ipykernel_5505/1041306477.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/1041306477.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/1041306477.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A NEGOCIOS SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A NEGOCIO') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION')].shape[0])
/tmp/ipykernel_5505/1041306477.py:27: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])
/tmp/ipykernel_5505/1041306477.py:30: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS A CASA HABITACION SIN VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO A CASA HABITACION') & (robos_tot['VIOLENCIA'] == 'NO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO')].shape[0])
/tmp/ipykernel_5505/1041306477.py:36: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  cuadrantes_df[f'ROBOS DE VEHICULOS CON VIOLENCIA {estacion.upper()}'] = cuadrantes_df['CUADRANTE'].apply(lambda x: robos_tot[(robos_tot['CUADRANTE'] == x) & (robos_tot['ESTACION'] == estacion) & (robos_tot['TIPO'] == 'ROBO DE VEHICULO') & (robos_tot['VIOLENCIA'] == 'SI')].shape[0])

,CUADRANTE,POBLACION,TOTAL DE ROBOS,ROBOS CON VIOLENCIA,ROBOS SIN VIOLENCIA,ROBOS A NEGOCIOS,ROBOS A NEGOCIOS CON VIOLENCIA,ROBOS A NEGOCIOS SIN VIOLENCIA,ROBOS A CASA HABITACION,ROBOS A CASA HABITACION CON VIOLENCIA,...,ROBOS SIN VIOLENCIA INVIERNO,ROBOS A NEGOCIOS INVIERNO,ROBOS A NEGOCIOS CON VIOLENCIA INVIERNO,ROBOS A NEGOCIOS SIN VIOLENCIA INVIERNO,ROBOS A CASA HABITACION INVIERNO,ROBOS A CASA HABITACION CON VIOLENCIA INVIERNO,ROBOS A CASA HABITACION SIN VIOLENCIA INVIERNO,ROBOS DE VEHICULOS INVIERNO,ROBOS DE VEHICULOS CON VIOLENCIA INVIERNO,ROBOS DE VEHICULOS SIN VIOLENCIA INVIERNO
0,1,0,136,14,122,24,8,16,104,3,...,21,5,1,4,17,0,17,1,1,0
1,2,0,3,0,3,0,0,0,2,0,...,2,0,0,0,2,0,2,0,0,0
2,3,18838,715,97,618,148,71,77,502,4,...,163,39,19,20,141,2,139,10,6,4
3,4,20919,362,46,316,56,30,26,250,7,...,80,13,8,5,68,2,66,10,1,9
4,5,391,8,2,6,1,1,0,6,0,...,3,1,1,0,3,0,3,1,1,0

In [129]:
# separar cuadrantes_df en tres dataframes: uno que tenga las columnas de total de robos, total de robos con y sin violencia, y que tenga todo los demas solo para el tipo de robo de negocio; uno que tenga las columnas de total de robos, total de robos con y sin violencia, y que tenga todo los demas solo para el tipo de robo a casa habitacion; y uno que tenga las columnas de total de robos, total de robos con y sin violencia, y que tenga todo los demas solo para el tipo de robo de vehiculo
cuadrantes_negocios_df = cuadrantes_df[['CUADRANTE', 'POBLACION', 'TOTAL DE ROBOS', 'ROBOS CON VIOLENCIA', 'ROBOS SIN VIOLENCIA'] + 
                                 [col for col in cuadrantes_df.columns if 'NEGOCIOS' in col]]
cuadrantes_negocios_df.head()

,CUADRANTE,POBLACION,TOTAL DE ROBOS,ROBOS CON VIOLENCIA,ROBOS SIN VIOLENCIA,ROBOS A NEGOCIOS,ROBOS A NEGOCIOS CON VIOLENCIA,ROBOS A NEGOCIOS SIN VIOLENCIA,ROBOS A NEGOCIOS MES 1,ROBOS A NEGOCIOS CON VIOLENCIA MES 1,...,ROBOS A NEGOCIOS SIN VIOLENCIA PRIMAVERA,ROBOS A NEGOCIOS VERANO,ROBOS A NEGOCIOS CON VIOLENCIA VERANO,ROBOS A NEGOCIOS SIN VIOLENCIA VERANO,ROBOS A NEGOCIOS OTOÑO,ROBOS A NEGOCIOS CON VIOLENCIA OTOÑO,ROBOS A NEGOCIOS SIN VIOLENCIA OTOÑO,ROBOS A NEGOCIOS INVIERNO,ROBOS A NEGOCIOS CON VIOLENCIA INVIERNO,ROBOS A NEGOCIOS SIN VIOLENCIA INVIERNO
0,1,0,136,14,122,24,8,16,2,1,...,6,7,1,6,4,4,0,5,1,4
1,2,0,3,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,18838,715,97,618,148,71,77,13,7,...,12,45,19,26,38,19,19,39,19,20
3,4,20919,362,46,316,56,30,26,2,1,...,7,15,5,10,15,11,4,13,8,5
4,5,391,8,2,6,1,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [130]:
cuadrantes_casahabitacion_df = cuadrantes_df[['CUADRANTE', 'POBLACION', 'TOTAL DE ROBOS', 'ROBOS CON VIOLENCIA', 'ROBOS SIN VIOLENCIA'] + 
                                         [col for col in cuadrantes_df.columns if 'CASA HABITACION' in col]]
cuadrantes_casahabitacion_df.head()

,CUADRANTE,POBLACION,TOTAL DE ROBOS,ROBOS CON VIOLENCIA,ROBOS SIN VIOLENCIA,ROBOS A CASA HABITACION,ROBOS A CASA HABITACION CON VIOLENCIA,ROBOS A CASA HABITACION SIN VIOLENCIA,ROBOS A CASA HABITACION MES 1,ROBOS A CASA HABITACION CON VIOLENCIA MES 1,...,ROBOS A CASA HABITACION SIN VIOLENCIA PRIMAVERA,ROBOS A CASA HABITACION VERANO,ROBOS A CASA HABITACION CON VIOLENCIA VERANO,ROBOS A CASA HABITACION SIN VIOLENCIA VERANO,ROBOS A CASA HABITACION OTOÑO,ROBOS A CASA HABITACION CON VIOLENCIA OTOÑO,ROBOS A CASA HABITACION SIN VIOLENCIA OTOÑO,ROBOS A CASA HABITACION INVIERNO,ROBOS A CASA HABITACION CON VIOLENCIA INVIERNO,ROBOS A CASA HABITACION SIN VIOLENCIA INVIERNO
0,1,0,136,14,122,104,3,101,7,0,...,34,35,1,34,16,0,16,17,0,17
1,2,0,3,0,3,2,0,2,1,0,...,0,0,0,0,0,0,0,2,0,2
2,3,18838,715,97,618,502,4,498,60,1,...,140,143,1,142,78,1,77,141,2,139
3,4,20919,362,46,316,250,7,243,15,0,...,57,65,2,63,58,1,57,68,2,66
4,5,391,8,2,6,6,0,6,2,0,...,0,0,0,0,3,0,3,3,0,3

In [131]:
cuadrantes_vehiculos_df = cuadrantes_df[['CUADRANTE', 'POBLACION', 'TOTAL DE ROBOS', 'ROBOS CON VIOLENCIA', 'ROBOS SIN VIOLENCIA'] + 
                                   [col for col in cuadrantes_df.columns if 'VEHICULOS' in col]]
cuadrantes_vehiculos_df.head()

,CUADRANTE,POBLACION,TOTAL DE ROBOS,ROBOS CON VIOLENCIA,ROBOS SIN VIOLENCIA,ROBOS DE VEHICULOS,ROBOS DE VEHICULOS CON VIOLENCIA,ROBOS DE VEHICULOS SIN VIOLENCIA,ROBOS DE VEHICULOS MES 1,ROBOS DE VEHICULOS CON VIOLENCIA MES 1,...,ROBOS DE VEHICULOS SIN VIOLENCIA PRIMAVERA,ROBOS DE VEHICULOS VERANO,ROBOS DE VEHICULOS CON VIOLENCIA VERANO,ROBOS DE VEHICULOS SIN VIOLENCIA VERANO,ROBOS DE VEHICULOS OTOÑO,ROBOS DE VEHICULOS CON VIOLENCIA OTOÑO,ROBOS DE VEHICULOS SIN VIOLENCIA OTOÑO,ROBOS DE VEHICULOS INVIERNO,ROBOS DE VEHICULOS CON VIOLENCIA INVIERNO,ROBOS DE VEHICULOS SIN VIOLENCIA INVIERNO
0,1,0,136,14,122,8,3,5,0,0,...,1,3,0,3,2,1,1,1,1,0
1,2,0,3,0,3,1,0,1,0,0,...,0,1,0,1,0,0,0,0,0,0
2,3,18838,715,97,618,65,22,43,6,3,...,7,18,4,14,24,6,18,10,6,4
3,4,20919,362,46,316,56,9,47,7,0,...,12,21,3,18,11,3,8,10,1,9
4,5,391,8,2,6,1,1,0,1,1,...,0,0,0,0,0,0,0,1,1,0